recursive-include bin *
recursive-include markdown *.py
recursive-include docs *
recursive-include tests *.txt *.html *.cfg *.py
include setup.py
include setup.cfg
include run-tests.py
include LICENSE
include README
include INSTALL
include MANIFEST
